
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Robert T. Williams</h5>
        <p class="ae-u-bolder au-mb-3">Diseñador Gráfico</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4"> Diseñador gráfico talentoso y creativo, Robert transforma ideas en visuales cautivadores. Su habilidad para comunicar conceptos a través del diseño lo convierte en un valioso activo para el equipo.</p><a href="#0" class="ae-u-bolder au-underline">&#64;patrickanderson</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-2.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Angelina B. Widow</h5>
        <p class="ae-u-bolder au-mb-3">Fundadora</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Visionaria y apasionada emprendedora, fundadora de nuestra empresa. Angelina aporta su creatividad y liderazgo estratégico para guiar al equipo hacia la innovación y el éxito continuo</p><a href="#0" class="ae-u-bolder au-underline">&#64;patrickanderson</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Patrick Anderson</h5>
        <p class="ae-u-bolder au-mb-3">Director de Arte.</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Experto en dirección de arte, Patrick combina creatividad y atención al detalle para crear experiencias visuales impactantes. Su liderazgo inspira al equipo a alcanzar la excelencia en cada proyecto.</p><a href="#0" class="ae-u-bolder au-underline">&#64;patrickanderson </a>
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2" style="text-align: center;">
        <h4 class="ae-u-bolder">Nuestro Producto Angular Template</h4>
        <p>Nuestro primer proyecto integrando HTML a angular</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">visión</h6>
        <p class="au-lh-3">Ser reconocidos como líderes en nuestro sector, destacando por nuestra dedicación a la excelencia, la creatividad y el impacto positivo en nuestros clientes y la comunidad."

          Estos textos son breves y concisos, ideales para colocarlos en la sección que mencionaste.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest"> Misión</h6>
        <p class="au-lh-3">Brindar soluciones innovadoras y creativas que superen las expectativas de nuestros clientes, manteniendo altos estándares de calidad y compromiso en cada proyecto. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestros Clientes</h6>
        <p class="au-lh-3">Establecer relaciones de confianza y colaboración, entendiendo sus necesidades y objetivos para ofrecer soluciones personalizadas y efectivas que impulsen su éxito y crecimiento. Nos esforzamos por ser socios estratégicos, aportando valor en cada etapa del proyecto. </p>
        
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
  
